<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/covidSurvey.js') }}"></script>
  </head>
  <body>
    <div class="container-fluid bg-light">
      <header class="d-flex align-items-center flex-wrap justify-content-left py-3 mb-4 shadow-lg">
        <div class="col-sm-1 me-4">
            <img src="{{ url_for('static', filename='img/IOHSAD_logo.png') }}" class="img-fluid" alt="IOHSAD logo">
        </div>
        <div class="col-sm-8">
            <h1 class="row">IOHSAD</h1>
            <h4 class="row">Safe Workplaces Now!</h4>
        </div>
      </header>

        <div class="row justify-content-center">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}

          <form class="col-sm-8 shadow-lg p-5" method="POST" novalidate>
            <div class="form-title row">
              <h1 class="col-sm-10">COVID-19 Health Protocol Form</h1>
            </div>
            {{ form.hidden_tag() }}

            <div class="row mb-3">
              <div class="col-sm-6">
                {{ form.username.label(class="form-label fw-bold") }}
                {{ form.username(class="form-control") }}
                <p id="username-error" class="text-danger"></p>
              </div>
  
              <div class="row col-sm-6">
                {{ form.contactNumber.label(class="form-label fw-bold") }}
                {{ form.contactNumber(class="form-control") }}
                <p id="contactNumber-error" class="text-danger"></p>
              </div>
            </div>

            <div class="row mb-3">
              {{ form.fullname.label(class="form-label fw-bold") }}
              {{ form.fullname(class="form-control") }}
              <p id="fullname-error" class="text-danger"></p>
            </div>

            <div class="row mb-3">
              <div class="col-sm-6">
                {{ form.shiftdate.label(class="form-label fw-bold") }}
                {{ form.shiftdate(class="form-control") }}
                <p id="shiftdate-error" class="text-danger"></p>
              </div>
  
              <div class="col-sm-6">
                {{ form.shifttime.label(class="form-label fw-bold") }}
                {{ form.shifttime(class="form-control") }}
                <p id="shifttime-error" class="text-danger"></p>
              </div>
            </div>

            <div class="row form-label mb-3">
              {{ form.symptoms }}
            </div>
            
            <div class="form-check mb-3">
              {{ form.fever(class="form-check-input") }}
              {{ form.fever.label(class="form-check-label") }}
            </div>

            <div class="form-check mb-3">
              {{ form.coughcolds(class="form-check-input") }}
              {{ form.coughcolds.label(class="form-check-label") }}
            </div>

            <div class="form-check mb-3">
              {{ form.bodypain(class="form-check-input") }}
              {{ form.bodypain.label(class="form-check-label") }}
            </div>

            <div class="form-check mb-3">
              {{ form.sorethroat(class="form-check-input") }}
              {{ form.sorethroat.label(class="form-check-label") }}
            </div>
            
            <div class="form-check mb-3">
              {{ form.contact(class="form-check-input") }}
              {{ form.contact.label(class="form-check-label") }}
            </div>

            <div class="form-check mb-3">
              {{ form.directcare(class="form-check-input") }}
              {{ form.directcare.label(class="form-check-label") }}
            </div>

            <div class="form-check mb-3">
              {{ form.internationalTravel(class="form-check-input") }}
              {{ form.internationalTravel.label(class="form-check-label") }}
            </div>

            <div class="form-check mb-3">
              {{ form.domesticTravel(class="form-check-input") }}
              {{ form.domesticTravel.label(class="form-check-label") }}
            </div>

            <div class="row mb-3">
              {{ form.complaint.label(class="form-label fw-bold") }}
              {{ form.complaint(class="form-control") }}
              <p id="" class="text-danger"></p>
            </div>
            
            
            <div class="row mb-3 d-flex justify-content-end">
                {{ form.submit(class="btn btn-primary col-sm-3") }}
            </div>
             

            <div class="row mb-3 d-flex justify-content-end">
              <a href="/" class="col-sm-2 m-0 btn btn-primary">Select Another Form</a>
            </div>
          </form>


        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
